<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Practical Exam</title>
</head>

<body>

    <h4 style="text-align:center">Using SVM to Predict Diabetes</h4>
    <h1 style="text-align:center; color:blue;">Check if Customer is Diabetic or Not</h1>

    <form method="POST" action="/predict" style="text-align:center">
        <label for="age">Age: </label>
        <input type="text" name="age"><br><br>

        <label for="hypertension">Hypertension (0-No, 1-Yes): </label>
        <input type="text" name="hypertension"><br><br>

        <label for="heartDisease">Heart Disease (0-No, 1-Yes): </label>
        <input type="text" name="heartDisease"><br><br>

        <label for="bmi">BMI: </label>
        <input type="text" name="bmi"><br><br>

        <label for="HbA1c">HbA1c Level: </label>
        <input type="text" name="HbA1c"><br><br>

        <label for="glucose">Blood Glucose Level: </label>
        <input type="text" name="glucose"><br><br>

        <input type="submit" value="PREDICT">
    </form>

    <h2 id="prediction-result" style="text-align:center; color:red;"></h2>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', async function (event) {
                event.preventDefault();

                const formData = new FormData(form);
                const response = await fetch('/predict', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                document.getElementById('prediction-result').innerText = `Prediction: ${result.prediction}`;
            });
        });
    </script>

</body>
</html>
